table {
    width: 85%; /* Largeur de 85% */
    margin: 0 auto; /* Centre horizontalement */
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    padding: 6px 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


h1{
    padding: 10px;
    text-align: center;
}
.btn-actions{
    display: flex;
    justify-content: space-around;
}

.modify {
    background-color: #2E8B57; /* Vert foncé */
}

.delete {
    background-color: #d32f2f; /* Rouge */
}

.encherir {
    background-color: #0e21ab; /* Bleu */
}
