/*.card-container {
    display: -webkit-box;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}*/


.card {
    flex: 0 1 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    background: white;
    border: 1px solid #e1e4e8;
}


.card h2 {
    margin-top: 5px;
    color: #003366;
    margin-bottom: 10px;
    text-align: center;

}

.card p {
    color: #333;
    line-height: 1;
}

.encherir {
    background-color: #0e21ab;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.encherir:hover {
    background-color: #0056b3;
}
form {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
}

h1{
    text-align: center;
}

select {
    border: 0px;
    background-color: #e5e5e5;
    color: #000000;
    padding: 8px;
    font-size: 15px;
}

.card-container{
    text-align: center;
    display: flex;
    gap: 2%;
}

.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 5px 0;
}

.txtb:hover{
    border-bottom: 2px solid #8fc8e9;
    transition-duration: 0.5s;
}

.txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    outline: none;
    background: none;
    padding: 0 5px;

}

.rech{
    font-size: 15px;
    border: none;
}
.rech{
    font-size: 15px;
    background: #e5e5e5;
    border: none;
}

.rech:hover{
    background: #8fc8e9;
    transition-duration: 0.5s;
}