    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Réinitialiser le mot de passe</title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/nav.css">
    </head>
    <body>
    <div class="reset-container">
        <form th:action="@{/auth/reset}" method="post">
            <h2>Réinitialiser le mot de passe</h2>
            <input type="hidden" name="token" th:value="${token}" />
            <div class="txtb">
                <input type="password" name="newPassword" placeholder="Nouveau mot de passe" required />
            </div>
            <input type="submit" value="Réinitialiser" class="logbtn">
        </form>
    </div>
    </body>
    </html>
