<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil de l'utilisateur</title>
</head>
<body>
<h1>Liste des utilisateurs</h1>
<table>
    <tr>
        <th>Pseudo</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Rue</th>
        <th>Code postal</th>
        <th>Ville</th>
    </tr>
    <tr>
        <td th:text="${user.pseudo}"></td>
        <td th:text="${user.nom}"></td>
        <td th:text="${user.prenom}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.telephone}"></td>
        <td th:text="${user.rue}"></td>
        <td th:text="${user.codePostal}"></td>
        <td th:text="${user.ville}"></td>
    </tr>
</table>
</body>
</html>