<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<header th:replace="~{fragment/nav}"></header>
<body id="edit-2">
    <div class="formulaire login-container">

        <form th:action="@{/registration}" method="post" role="form" th:object="${user}" class="login-form">
            <h2>Inscription</h2>

            <div class="cote">
                <div class="input-group txtb">
                    <label for="nom">Nom:</label>
                    <input th:field="*{nom}" type="text" id="nom" name="nom" placeholder="Votre nom"  required>
                </div>
                <div class="input-group txtb">
                    <label for="prenom">Prénom:</label>
                    <input th:field="*{prenom}" type="text" id="prenom" name="prenom" placeholder="Votre prénom" required>
                </div>
            </div>

            <div class="cote">
                <div class="input-group txtb">
                    <label for="pseudo">Pseudo:</label>
                    <input th:field="*{pseudo}" type="text" id="pseudo" name="pseudo" placeholder="Votre pseudo" required>
                </div>
                <div class="input-group txtb">
                    <label for="telephone">Téléphone:</label>
                    <input th:field="*{telephone}" type="text" id="telephone" name="telephone" placeholder="Votre téléphone" required pattern="[0-9]{10}">
                </div>
            </div>

            <div class="input-group txtb">
                <label for="email">Email:</label>
                <input th:field="*{email}" type="email" id="email" name="email" placeholder="Votre email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            </div>

            <div class="input-group txtb">
                <label for="rue">Rue:</label>
                <input th:field="*{rue}" type="text" id="rue" name="rue" placeholder="Votre rue" required>
            </div>

            <div class="cote">
                <div class="input-group txtb">
                    <label for="ville">Ville:</label>
                    <input th:field="*{ville}" type="text" id="ville" name="ville" placeholder="Votre ville" required>
                </div>
                <div class="input-group txtb">
                    <label for="codePostal">Code Postal:</label>
                    <input th:field="*{codePostal}" type="text" id="codePostal" name="codePostal" placeholder="Votre code Postal" required pattern="[0-9]{5}">
                </div>
            </div>

            <div class="input-group txtb">
                <label for="motDePasse">Mot de Passe:</label>
                <input th:field="*{motDePasse}" type="password" id="motDePasse" name="motDePasse" placeholder="Votre mot de passe" required>
            </div>

            <div class="input-group txtb">
                <label for="credit">Crédit:</label>
                <input th:field="*{credit}" type="number" id="credit" name="credit" placeholder="Votre crédit" required>
            </div>

            <div class="input-gr">
                <label for="administrateur">Administrateur:</label>
                <input th:field="*{administrateur}" type="checkbox" id="administrateur" name="administrateur">
            </div>

            <button type="submit" class="btn logbtn" >Inscription</button>
        </form>

        <div th:if="${message != null}" class="message">
            [[${message}]]
        </div>
    </div>
</body>
</html>
